/* Reset */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, img, dl, dt, dd, ol, ul, li, fieldset, form, label, caption, article, aside,
figure, figcaption, footer, header, menu, nav, section, mark, button {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, button {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}

/* Root Styling */

*{box-sizing: border-box;}
html{
    scroll-behavior: smooth;
    font-size: 10px;
}

:root{
    --font-family-h: Montserrat, sans-serif;
    --font-family-p: "Segoe UI", Arial, sans-serif;
    --color-primary: #000;
    --color-secondary: #fff;
    --color-link: #6e6e6e;
    --font-size-h1: 2.8rem;
    --font-size-h2: 2.4rem;
    --font-size-p: 1.5rem;
    --font-size-link: 1.2rem;
}

/* breakpoints */

$--breakpoint-xs: 0;
$--breakpoint-sm: 576px;
$--breakpoint-md: 768px;
$--breakpoint-lg: 992px;
$--breakpoint-xl: 1200px;


body{
    font-size: var(--font-size-p);
    font-family: var(--font-family-p);
    font-weight: 400;
    color:var(--color-primary);
    max-width: 728px;
    margin: auto;
    padding: 0 1em;
    @media only screen and (min-width: $--breakpoint-lg){
        max-width: 940px;
        font-size: 1.6rem;
    }
}
.flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
h1, h2, h3, h4, h5, h6{
    font-family:var(--font-family-h);
    text-transform: uppercase;
    line-height: 1.2;
}
h1{
    font-size: var(--font-size-h1);
    @media only screen and (min-width: $--breakpoint-lg){
        font-size: 3.3rem;
    }
}
h2{font-size: var(--font-size-h2);}
p{line-height: 1.5;}
a{
    font-family:var(--font-family-h);
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-primary);
    font-size: var(--font-size-link);
    font-weight:600;
    letter-spacing: 0.1rem;
    cursor: pointer;
    position: relative;
}
a:not(.branding-link, .social-icon)::after, a.active::after{
    content: "";
    position: absolute;
	display: block;
	bottom: -4px;
	height: 2px;
    width: 100%;
    background-color: var(--color-primary);
	transform: scaleX(0);
	transition: transform .2s ease-in-out;
}
a:hover::after, a:focus::after, a.active::after{transform: scaleX(1);}
a:hover, a:focus{color: var(--color-link);}
a.active {color: var(--color-primary) !important;}


header{
    padding:2.4rem 0;
    @media only screen and (min-width: $--breakpoint-lg){
        padding: 7rem 0;
    }
    nav.primary-nav{
        justify-content: space-between;
        .branding{font-weight: 400;}
        .nav-button{
            cursor: pointer;
            border: none;
            background-color: transparent;
            width: 2.2rem;
            height: 2.2rem;
            position: relative;
            .lines{
                height: 0.2rem;
                position:absolute;
                width: 100%;
                background-color: var(--color-primary);
                border-radius: 1rem;
            &.l-2{top:46%;}
            &.l-1{top:0.2rem;}
            &.l-3{bottom: 0.2rem;}
            }
        }
        .nav-list{
            border-bottom: 0rem solid var(--color-primary);
            width: 100%;
            height:0;
            overflow: hidden;
            transition: all .5s ease-in;
            .nav-item{
                margin:2.5rem 0;
            }
            &.open{
                padding: 2rem 0;
                height:20rem;
                border-bottom: 0.1rem solid var(--color-primary);
            }
            .nav-link{color: var(--color-link);}
        }
        @media only screen and (min-width: $--breakpoint-lg){
            .nav-button{display: none;}
            .nav-list{
                display: flex;
                justify-content: space-between;
                overflow: visible;
                height:auto;
                width: auto;
                .nav-item{
                    margin:0;
                    &:not(:last-child){padding: 0 3rem 0 0;}
                }
            }
        }
    }
}

footer{
    padding: 7rem 0;
    justify-content: center;
    text-align: center;
    .social-icon{
        font-size: 2rem;
        &:not(:last-child){padding: 0 1rem 0 0;}
    }
    .branding{
        font-size: var(--font-size-link);
        width: 100%;
        margin: 1rem;
        text-transform: uppercase;
        color: var(--color-link);
        letter-spacing: 0.1rem;
    }
}
section{margin: 5rem 0;}
#about{
    text-align: center;
    margin: auto;
    &> *{margin: 3.5rem 0;}
    .divider{
        width: 7rem;
        margin: 9rem auto;
    }
    .title{
        text-transform: none;
        font-size: var(--font-size-h2);}
    .description{
        font-family: var(--font-family-h);
        line-height: 1.2;
    }
    @media only screen and (min-width: $--breakpoint-lg){
        max-width: 66%;
    }
}
