<section id="about">
    <hr class="divider">
    <h3 class="title">I'm Mesha, a front-end developer</h3>
    <p class="description">I love to code and enjoy creating things. I am experienced in HTML and CSS, and am currently learning to master JavaScript. Having started off my career as a graphic designer, I also enjoy being involved in the designing process. I would love to hear your thoughts on my projects, <a href="https://www.linkedin.com/in/mesha-ghayur/" rel="noopener" target="_blank" class="say-hi-link" aria-label="View Linkedin Profile"> say hi</a>.</p>
    <p class="skills">HTML | CSS | Light JavaScript | GitHub | BootStrap | WordPress | WCAG 2.0 | Adobe Creative Suite</p>
</section>