<footer class="flex">
    <div class="social-icon-container flex">
        <a href="https://github.com/MeshaGhayur?tab=repositories" rel="noopener" target="_blank" class="social-icon" aria-label="View GitHub Repositories">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/mesha-ghayur/" rel="noopener" target="_blank" class="social-icon" aria-label="View Linkedin Profile">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="mailto:meshaghayur@hotmail.com" rel="noopener" target="_blank" class="social-icon" aria-label="Email Mesha - meshaghayur@hotmail.com">
            <i class="fas fa-envelope"></i>
        </a>
    </div>
    <p class="branding">Mesha Ghayur</p>
</footer>