<header>
    <nav class="primary-nav flex initial" role="navigation" aria-label="Main menu">
        <a class="branding-link" href="index.html"><h1 class="branding">Mesha Ghayur</h1></a>
        <button class="nav-button" onclick="toggleOpen();" type="button" aria-expanded="false" aria-controls="nav-list">
            <span class="sr-only">Main Menu</span>
            <div class="lines l-1"></div>
            <div class="lines l-2"></div>
            <div class="lines l-3"></div>
        </button>
        <ul id="nav-list" class="nav-list">
            <li class="nav-item">
                <a class="nav-link" href="index.html"> Dev Projects </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="design.html">Design Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="index.html#about">About</a>
            </li>
        </ul>
    </nav>
</header>

